@import 'tailwindcss';

@theme {
  --color-cilcblue: #57ABC4;
  --color-cilcdarkblue: #358097;
  --color-cilcgreen: #BDD84F;
  --color-cilcpurple: #493C97;
  --color-cilcred: #DB1928;
  --color-cilcmedblue: #0066CC;
  --color-cilcgrey: #F0F0F0;
  --color-cilcgray: #E0E0E0;
  --color-deepblue: #213547;
  --color-gold: #F7D000;
}

@layer components {
  :root {
    font-family: 'Roboto';
    font-weight: 400;
    color-scheme: light dark;
    background-color: #242424;
    color: #213547;
    background-color: #ffffff;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: white;
    overflow-x: hidden;
  }

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 0.8rem;
    text-align: center;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
  }
  h4 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.2rem;
    width: 100%;
  }

  hr {
    height: 1px;
    border: 0;
    width: 100%;
    color: inherit;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  button {
    border-radius: 0;
    padding: 0.6rem 1rem;
    background-color: #f9f9f9;
  }

  button:hover {
    filter: brightness(110%);
  }

  img {
    max-width: none !important;
  }

  input,
  textarea {
    border: 3px solid transparent !important;
  }

  input[type='submit'] {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border: 3px solid #57abc4 !important;
  }

  ul {
    list-style-type: disc;
    font-size: 1.2rem;
    width: 100%;
  }

  @media only screen and (min-width: 900px) {
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.2em;
    }
    p {
      font-size: 1em;
    }
    ul {
      font-size: 1em;
    }
    h3, h4 {
      font-size: 1.2em;
    }
  }

  @font-face {
    font-family: centuryFont;
    src: url(century.otf);
  }
}